name: Android Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: setup JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: setup-ndk
      uses: nttld/setup-ndk@v1.2.0
      with:
        ndk-version: r25b  
    - name: Generate Project
      run: |
        mkdir proj
        cd proj
        export PROJECT_ROOT=`pwd`
        cmake \
            -DCMAKE_TOOLCHAIN_FILE=${NDK_ROOT}/build/cmake/android.toolchain.cmake \
            -DANDROID_NDK=${NDK_ROOT} \
            -DANDROID_ABI=armeabi-v7a \
            -DANDROID_PLATFORM=android-21 \
            -DOPT_FORMAT_ABGR=OFF \
            -DOPT_FORMAT_BGRA=OFF \
            -DOPT_FORMAT_RGBA=OFF \
            -DOPT_FORMAT_RGB=OFF \
            -DOPT_FORMAT_BGR=OFF \
            -DOPT_FORMAT_RGB555=OFF \
            -DCMAKE_LIBRARY_OUTPUT_DIRECTORY=${PROJECT_ROOT}/lib \
            ..
      env:
        NDK_ROOT: ${{ steps.setup-ndk.outputs.ndk-path }}  
    - name: make
      run: make -C ./
