name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - shell: bash
      run: mkdir toolchains
    - name: specify NDK
      uses: ravinderjangra/android-ndk-toolchain-setup@0.2
      with:
        api: '21'
        arch: 'x86'
        install-location: 'toolchains'
        force: true
    - shell: bash
      run: cd ./android
    - name: build
      run: ../toolchain/ndk-build
