name: Check PR message format

on:
  push:
    branches: [ "master" ]
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches: [ "master" ]

jobs:
  verify:
    runs-on: ubuntu-latest
    name: Conventional Commitlint
    permissions:
      contents: read
      pull-requests: read
    steps:
    - uses: actions/checkout@v4
    - name: Check Commit Message
    - uses: opensource-nepal/commitlint@v1.2.0
      with:
        verbose: true
          
    

 
