name: Performance Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Configure CMake
      run: >
        cmake -B ${{ github.workspace }}/build
        -DCMAKE_BUILD_TYPE=Release
        -DOPT_SYSTEM_MALLOC=OFF
        -DOPT_PERFTEST=ON
        -DOPT_FAST_COPY=OFF
        -DOPT_INTERNAL_FREETYPE=ON
        -DOPT_DEMOS=OFF
        -DOPT_TESTS=OFF
        -S ${{ github.workspace }}      
    - name: Build
      run: cmake --build ${{ github.workspace }}/build --config Release 
    - name: Test
      run: |
        cd ${{ github.workspace }}/build/
        ./perf_tests
    - name: Upload Test Reaults
      if: always()
      uses: actions/upload-artifact@v4.6.2
      with:
        name: test-perf_benchmark-linux
        path: |
          ${{ github.workspace }}/build/benchmark/
