name: Windows CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    
    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v2
       
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@2008f912f56e61277eefaac6d1888b750582aa16
    
    - name: Set up Python 2.7
      uses: actions/setup-python@v2
      with:
        python-version: 2.7

    - name: Generate Project
      run: ./build_windows.bat
    
    - name: Restore Project
      run: msbuild ./vcproj/picasso.sln /t:Restore /p:Configuration=$env:Configuration
      env:
        Configuration: ${{ matrix.configuration }}
     
    - name: Build Solution
      run: msbuild ./vcproj/picasso.sln /p:Configuration=$env:Configuration
      env:
        Configuration: ${{ matrix.configuration }}   

